.load-word{
  width:100%;
  height:100rpx;
  text-align: center;
  line-height:100rpx;
  color:#969799;
  font-size:24rpx;
}
.pd-5rl{
  padding:0 10rpx;
}
.color-4A90E2{
  color:#4A90E2;
}
.color-green {
  color: #068c9d;
}
.color-gray {
  color: #d2d2d2;
}
.color-FA6400{
  color:#FA6400;
}
.color-666 {
  color: #666666ba;
}
.bg-7DCE7F {
  background: #7DCE7F;
}
.bg-bbb {
  background: #BBBBBB;
}
.post-relative{
  position: relative;
}
.width-100{
  width:100%;
}
.width-80{
  width:80%;
}
.substr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.pd-10r {
  padding-right: 20rpx;
}
.pd-10 {
  padding: 20rpx;
}
.pd-10l {
  padding-left: 20rpx;
}
.mg-5l{
  margin-left: 10rpx;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-flex{
  display: flex;
}
.display-flexwrap{
  display: flex;
  flex-wrap: wrap;
}
.display-flexcenter{
  display: flex;
  align-items: center;
}
